.movingLegs{
    animation: moveLegs 5s infinite;
}

@keyframes moveLegs{
0% {
    transform: rotate(0deg);
}
30% {
    transform: rotate(5deg);
}
60% {
    transform: rotate(-5deg);
}
100% {
    transform: rotate(0deg);
}
}

.movingTail{
    animation: moveTail 5s infinite;
}

@keyframes moveTail {
    0% {
        transform: rotate3d(1, 1, 0, 0deg)
    }
    30%{
        transform: rotate3d(1, 1, 0, 15deg)
    }
    60%{
        transform: rotate3d(1, 1, 0, 35deg)
    }
    100%{
        transform: rotate3d(1, 1, 0, 15deg)
    }

    
}
