.catBox {
    background-color: #e2efff;
    border-radius: 10px;
    padding-top: 50px;
    padding-left: 0px;
    padding-bottom: 100px;
    float: left;
}
.catBoxCatalog {
    background-color: #e2efff;
    border-radius: 10px;
    padding-top: 50px;
    padding-left: 0px;
    padding-bottom: 125px;
    float: left;
    left: 150px;
}



.cattributes {
    padding: 25px;
    background-color: #ededed;
    border-radius: 10px;
    float: right;
}

.dnaDiv {
    position: absolute;
    left: 70px;
    top: 380px;
}
.offerDiv {
    position: absolute;
    left:50px;
}

.marketDiv {
    position: absolute;
    left:26px;
}

.float-left{
    float: left
}

.float-right{
    float: right;
}
.float-center{
    float: none;
}