.legs-enter {
  opacity: 0.01;
}

.example{
  transform: rotate(10deg);
}



.example-appear {
  opacity: 0.01;
}

.example-appear.example-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}